<h1>Listing beats</h1>

<h2>What are you listening to?</h2>
<%= render 'form' %>

<table>
  <tr>
    <th>Most Recent</th>
    <th></th>
  </tr>
  <%= render :partial => "beats/feed_beat",
             :collection => @beats %>
</table>

<br />
